[
  {
    "id": "string",
    "name": "connection",
    "config": {
      "Host": "localhost",
      "Port": 1433,
      "User": "username",
      "Password": "password",
      "DriverType": "mssql",
      "Database": "dbname"
    }
  },
  {
    "id": "string",
    "name": "connection",
    "config": {
      "Host": "localhost",
      "Port": 9090,
      "User": "postgres",
      "Password": "password",
      "DriverType": "postgresql",
      "Database": "dbname"
    }
  }
]
